#gitHub{
    /* border: solid green; */
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #1b1e25;
    display: flex;
    grid-template-columns: repeat(2,1fr);
   
    justify-content: space-evenly;
}

#gitHub img{
    size: 100%;
    height: 100%;
    width: 100%;
    /* border: solid red; */
}

#github-streak-stats{
background-color: #1b1e25;
align-items: center;
height: 70px;
}

#github-stats-card{
    display: flex;
    /* border: solid red; */
    background-color: #1b1e25;
    align-items: center;
    
}
#github-stats-card {
    height: 100%;
    /* border: solid purple; */
    /* height: 350px; */
    margin-left: 28%;
    /* padding-bottom: 70px; */
    
}


#github-stats-card_div{
    display: flex;
    align-items: center;
   background-color: #1b1e25;
    /* border: solid yellow; */
    height: 350px;
    /* margin-left: 28%; */
    padding-bottom: 70px;
}

@media only screen and (max-width:1200px) {
    #gitHub{
        height: auto;
        padding-top: 80px;
        padding-bottom: 80px;
        background-color: #1b1e25;
        display: flex;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-evenly;
    }
    
    
    #gitHub img{
        size: 100%;
        height: 100%;
        width: 100%;
        /* border: solid red; */
    }
    
    #github-stats-card_div{
        display: flex;
        align-items: center;
       background-color: #1b1e25;
        /* border: solid yellow; */
        height: 260px;
        /* margin-left: 28%; */
        padding-bottom: 70px;
    }
}

@media  all and (max-width:780px){




    #gitHub{
      
        height: auto;
        padding-top: 80px;
        padding-bottom: 80px;
        background-color: #1b1e25;
        display: block;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
    }
    
    #gitHub div{
        /* margin-left: 5%; */
    }
    
    #gitHub img{
        size: 100%;
        width:100%;
        height: 140px;
        /* border: solid red; */
    }
    
    #github-stats-card_div{
        display: flex;
        align-items: center;
       background-color: #1b1e25;
        /* border: solid yellow; */
        height: 180px;
        /* margin-left: 28%; */
        padding-bottom: 70px;
    }
    
    
    }

    @media  all and (max-width:550px){




        #gitHub{
          
            height: auto;
            padding-top: 80px;
            padding-bottom: 80px;
            background-color: #1b1e25;
            display: block;
            align-content: center;
            align-items: center;
            justify-content: space-evenly;
        }
        
        #gitHub div{
            /* margin-left: 11%; */
        }
        
        #gitHub img{
            size: 100%;
            height: 140px;
            width: 100%;
            /* border: solid red; */
        }
        
        #github-stats-card_div{
            display: flex;
            align-items: center;
           background-color: #1b1e25;
           
            height: 180px;
           
            padding-bottom: 70px;
        }
        
        #github-stats-card {
            height: 100%;
            width: 100%;
            /* border: solid purple; */
            /* height: 350px; */
            margin-left: 11%;
            /* padding-bottom: 70px; */
            
        }
        
        }

        @media  all and (max-width:450px){




            #gitHub{
              
                height: auto;
                padding-top: 80px;
                padding-bottom: 80px;
                background-color: #1b1e25;
                display: block;
                align-content: center;
                align-items: center;
                justify-content: space-evenly;
            }
            
            #gitHub div{
               
            }
            
            #gitHub img{
                size: 100%;
                height: 100px;
                width: 100%;
                /* border: solid red; */
            }
            
            #github-stats-card_div{
                display: flex;
                align-items: center;
               background-color: #1b1e25;
               
                height: 160px;
               /* width:100%; */
                padding-bottom: 70px;
            }
            
            #github-stats-card {
                height: 100%;
                width: 100%;
                /* border: solid purple; */
                /* height: 350px; */
                
                /* padding-bottom: 70px; */
                
            }
            
            }

            @media  all and (max-width:240px){


                #github-stats-card_div{
                    display: flex;
                    align-items: center;
                   background-color: #1b1e25;
                   
                    height: 130px;
                   width:100%;
                    padding-bottom: 70px;
                }

            }

